---
title: "시계열 데이터 리샘플"
date: 2022/11/15
date-modified: last-modified
format: 
  html:
    code-fold: false
---

## 시계열 데이터 resample

- closed='right' =>  ( 3:00, 6:00 ]  or  3:00 <  x <= 6:00
- closed='left'  =>  [ 3:00, 6:00 )  or  3:00 <= x <  6:00
- label='left' => 왼쪽 표시
- label='right' => 오른쪽 표시

[출처](https://stackoverflow.com/questions/48340463/how-to-understand-closed-and-label-arguments-in-pandas-resample-method){target=_blank}

<image src='resample.png'>

In [ ]:
time_index = pd.date_range('1/1/2000', periods=9, freq='T')
df = pd.DataFrame(index=time_index, data=range(9))
df

                     0
2000-01-01 00:00:00  0
2000-01-01 00:01:00  1
2000-01-01 00:02:00  2
2000-01-01 00:03:00  3
2000-01-01 00:04:00  4
2000-01-01 00:05:00  5
2000-01-01 00:06:00  6
2000-01-01 00:07:00  7
2000-01-01 00:08:00  8

In [ ]:
# 기본값은 closed='left', label='left'
df.resample('3T').sum()

                      0
2000-01-01 00:00:00   3
2000-01-01 00:03:00  12
2000-01-01 00:06:00  21

In [ ]:
# closed='left' 왼쪽 포함

df.resample('3T', closed='left').sum()

                      0
2000-01-01 00:00:00   3
2000-01-01 00:03:00  12
2000-01-01 00:06:00  21

In [ ]:
# closed='rigth' 오른쪽 포함

df.resample('3T', closed='right').sum()

                      0
1999-12-31 23:57:00   0
2000-01-01 00:00:00   6
2000-01-01 00:03:00  15
2000-01-01 00:06:00  15

In [ ]:
# label='left' 왼쪽 표시

df.resample('3T', label='left').sum()

                      0
2000-01-01 00:00:00   3
2000-01-01 00:03:00  12
2000-01-01 00:06:00  21

In [ ]:
# label='right' 오른쪽 표시

df.resample('3T', label='right').sum()

                      0
2000-01-01 00:03:00   3
2000-01-01 00:06:00  12
2000-01-01 00:09:00  21

In [ ]:
df.resample('3T', label='right', closed='right').sum()

                      0
2000-01-01 00:00:00   0
2000-01-01 00:03:00   6
2000-01-01 00:06:00  15
2000-01-01 00:09:00  15

In [ ]:
df.resample('3T', label='left', closed='right').sum()

                      0
1999-12-31 23:57:00   0
2000-01-01 00:00:00   6
2000-01-01 00:03:00  15
2000-01-01 00:06:00  15